<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="log" switchValue="All">
        <listeners>
          <clear />
          <add name="Console" type="Tracing.TraceListener, Tracing" initializeData="TracerName"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>